ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a3d15;
}

li {
    float: left;
}

li a {
    display: block;
    font-size: 1em;
    color: white;
    text-align: center;
    font-family: fantasy, "Comic Sans MS", sans-serif;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #2b4e2d;
}