/* background image */
.homepage {
background: url(../images/fronttrees.jpg) no-repeat center center fixed;
background-size: cover;
}
/*  */

 h2 {
     color: white !important;
     font-family: fantasy !important;
}
 
/* top images */
 .thumbnails {
    align-content: center;
    color: white;
    text-align: center;
    font-family: fantasy;
}
.yourself {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(49, 206, 28, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*  */

#other-stories {
    text-align: center;

}

.carousel-inner {
    margin-left: 42%;
}

#bmiddle {
margin-left: 42%;
}