/* background image */
.homepage {
background: url(../images/fronttrees.jpg) no-repeat center center fixed;
background-size: cover;
}
/*  */

 h2 {
     color: white !important;
     font-family: fantasy !important;
     align-content: center !important;
     text-align: center !important;

}
 
/* top images */
 .thumbnails {
    width: 100%;
    height: 50%;
    padding-right: 30%;
    padding-left: 30%;
    /* background-color: red; */
    text-align: center !important;
    align-content: center !important;
    color: white;
    font-family: fantasy;
}

.yourself {
    width: 500px !important;
    /* height: 300px !important; */
    border-radius: 50%;
    text-align: center !important;
    align-content: center !important;
    box-shadow: 0 4px 8px 0 rgba(49, 206, 28, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*  */

#texty {
    color: white !important;
    font-family: fantasy !important;
    align-content: center !important;
    text-align: center !important;
    /* margin-top: 26%; */
}

#my-stories {
    width: 100%;
    height: 200px;
    background-color: aqua;
    text-align: center;
    margin-bottom: 2%;
}

#other-stories {
    text-align: center;
    margin-top: 30%;

}


#bmiddle {
    align-content: center;
    text-align: center;
    margin-top: 5%;

}